<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.board.project.mapper.HierarchicalBoardMapper">

	<select id="BoardList" resultType="HierarchicalBoardVO">
		SELECT LEVEL AS "LEVEL", boardNo, boardUpperNo, boardTitle, boardDate, boardGroupNo, boardIndent
		FROM HierarchicalBoard
		START WITH boardUpperNo = 0
		CONNECT BY PRIOR boardNo = boardUpperNo
		ORDER SIBLINGS BY boardGroupNo DESC
	</select>

	<select id="BoardDetail" resultType="HierarchicalBoardVO">
		SELECT boardNo, boardTitle, boardContent, userId
		FROM HierarchicalBoard 
		WHERE boardNo=#{boardNo}
	</select>

	<update id="BoardModifyProc" parameterType="HierarchicalBoardVO">
		UPDATE HierarchicalBoard
		SET boardTitle=#{boardTitle}, boardContent=#{boardContent}
		WHERE boardNo=#{boardNo}
	</update>
	
	<delete id="BoardDelete" parameterType="int">
		DELETE FROM HierarchicalBoard WHERE boardNo=#{boardNo}
	</delete>

	<insert id="BoardInsertProc" parameterType="HierarchicalBoardVO">
		INSERT INTO	HierarchicalBoard
		(boardNo, boardTitle, userId, boardContent, boardDate, boardGroupNo, boardUpperNo, boardIndent)
		VALUES(board_seq.NEXTVAL, #{boardTitle}, #{userId}, #{boardContent}, sysdate, board_seq.NEXTVAL, 0, 0)
	</insert>

	<select id="BoardReply" resultType="HierarchicalBoardVO">
		SELECT boardNo, boardTitle, boardGroupNo, boardIndent
		FROM HierarchicalBoard where boardNo=#{boardNo}
	</select>

	<insert id="BoardReplyProc" parameterType="HierarchicalBoardVO">
		insert into
		HierarchicalBoard
		(boardNo, boardTitle, userId, boardContent,
		boardDate, boardGroupNo, boardUpperNo, boardIndent)
		values(board_seq.NEXTVAL, #{boardTitle}, #{userId}, #{boardContent},
		sysdate, #{boardGroupNo}, #{boardNo}, #{boardIndent})
	</insert>

</mapper> 