<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.project.mapper.ImageBoardMapper">


	<select id="imageList" resultType="ImageBoardVO">
		select * from test
	</select>
	
	<select id="imageDetail" resultType="ImageBoardVO">
		select * from imageBoard where imageNo=#{imageNo}
	</select>
	
	<select id="imageModify" resultType="ImageBoardVO">
		select * from imageBoard where imageNo=#{imageNo}
	</select><!-- 여기도 계층형과 마찬가지로 detail 체크. -->
	
	<!-- <insert id="imageInsertProc" parameterType="String">
		insert into imageBoard
		(imageNo, imageTitle, imageWriter, image1, image2, image3, image4, image5, imageDate)
		values(image_seq.NEXTVAL, #{imageTitle}, #{imageWriter}, #{image1}, #{image2}, #{image3}, #{image4}, #{image5}, sysdate)
	</insert> -->
	
	<insert id="imageInsertProc" parameterType="ImageBoardVO">
		INSERT INTO test(
			boardNo
			, image1
			, image2
			, image3
			, image4
			, image5
			, imageTitle
			, userId
			, imageDate)
		VALUES (
			#{boardNo}
			, #{image1}
			, #{image2}
			, #{image3}
			, #{image4}
			, #{image5}
			, #{imageTitle}
			, #{userId}
			, sysdate
			)
	</insert>
	
	
	<select id="SearchPage" resultType="HierarchicalBoardVO">
		SELECT  *
		FROM (
        SELECT  ROWNUM AS RNUM, A.*
        FROM    (
                select * 
                from HierarchicalBoard 
                WHERE 1=1
				<include refid="search"></include>
                
                START WITH boardUpperNo = 0
                CONNECT BY PRIOR boardNo = boardUpperNo
                ORDER SIBLINGS BY boardGroupNo DESC
                ) A
                 
                    ) 
		WHERE RNUM BETWEEN ${rowStart} AND ${rowEnd}
        
		
	</select>
	
	<select id="ListCount" resultType="int">
		SELECT 	COUNT(boardNo)
		FROM	HierarchicalBoard
		WHERE 1=1
			<include refid="search"></include>
		AND boardNo > 0
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()"> AND boardTitle LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()"> AND boardContent LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()"> AND userId LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()"> AND (boardTitle LIKE '%' || #{keyword} || '%') or (boardContent LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	

</mapper> 